<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <insert id="addOrdersDetails" parameterMap="com.ckhun.pojo.entity.OrdersDetails" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        insert into c_orders_details (order_id, sku_id, price, unit, billing_model, image, location_id)
        values (#{orderId}, #{skuId}, #{price}, #{unit}, #{billingModel}, #{image}, #{locationId})
    </insert>
</mapper>